@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap');

body{
  height: 100vh;
  font-family: 'Red Hat Display', sans-serif;
  background-color: F9F8F7 !important;
}

#title{
  font-weight: bold;
}

#box1{
  color: white;
  font-family: 'Red Hat Display', sans-serif;
  background-color: white;
  border-bottom: 3px solid black;
  height: 10vh;
}

#backgrond{
  height: 90vh;
}

#manage{
  height: 90vh;
}

#userRow, #databaseRow{
  height: 85vh;
}

a{
  text-decoration: none !important;
}


#box2{
  height: 75vh;
  font-family: 'Red Hat Display', sans-serif;
  background-color: white;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  overflow: auto;
}

#userButton{
  border-radius: 20px;
  background-color: #6CB4EE;
  font-weight: bold;
  color: white;
  outline: none;
  border: none;
  height: 45px;
  width: 200px;
}

#button{
  text-align: center;
}

#username{
  display: flex;
  flex-direction: column;
}

#exercises{
  display: flex;
  flex-direction: column;
}

#background{
  background-image: url("https://images.pexels.com/photos/7031706/pexels-photo-7031706.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  backgrond-size: contain;
}

#info{
  background-color: white;
  font-family: 'PT Sans', sans-serif;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}